#h1{
    color:black;
    position:fixed;
    top:10px;
    left:10px;
    padding:20px;
    height:50px;
    z-index: 2;
}
#h2{

    color:black;
    position:fixed;
    top:10px;
    left:80px;
    padding:20px;
    height:50px;
    z-index: 2;
}

#h3{

    color:black;
    position:fixed;
    top:10px;
    left:150px;
    padding:20px;
    height:50px;
    z-index: 2;
}

#GameOver{
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 3; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

#GOText {
    color:white;
    position:fixed;
    top: 50%;
    left: 50%;
    font-size: 80px;
}


#Win{
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 3; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}